{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    <label for="title" class="form-label" style="color: black;">Title</label>
    <input type="text" name="title" class="form-control" placeholder="Title..." required>
    <textarea name="blog" id="" cols="30" rows="5" placeholder="Write blog..." class="form-control mt-3" required></textarea>
    <button type="submit" class="btn3 mt-2">Submit</button>
</form>
  {% for blog in blogs %}
    <h5>{{ blog.title }}</h5>
    <p>{{blog.blogs}}</p>
  {% endfor %}
{% endblock %}