{% extends 'base.html' %}

{% block content %}
<div class="hero_section">
    <div class="container">
        <div class="header_section">
            <h1>Blog</h1>
            <ul class="navs">
                <li><a href="{{ url_for('register')}}">SignUp</a></li>
                <li><a href="{{ url_for('login')}}">Login</a></li>
                <li><a href="{{ url_for('profile')}}">Write Blog</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
        <div class="hero">
            <div class="row">
                <div class="col-md-5" style="margin-top: 10vh;">
                    <h1 style="font-weight: bolder;font-size: 50px;">In Our Blood there is creativity.</h1>
                    <p style="line-height: 30px;font-size: 18px;">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Saepe porro quasi nobis tempore accusamus magnam consequatur ad dignissimos atque facere?
                    </p>
                    <button class="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">Read More</button>
                </div>
                <div class="col-md-7 img1">
                    <img class="img-fluid" src="../static/Images/black.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blogs_section">
    <div class="container">
        <div class="quotes mt-3" style="background: rgb(238,240,244);">
            <h4 class="text-center">Random Quotes</h4>
            <q>{{ quote.quote}}</q><br>
            <small style="font-weight: bold;">Author: {{ quote.author }}</small>
        </div>
        <div class="blogs">
            <h1 class="mt-5 mb-5" style="font-weight: bold;">Latest Blog Posts</h1>
            <div class="row d-flex justify-content-between align-items-center" style="background: rgb(238,240,244);padding: 10px;">
                {%for blog in blogs  %}
               <div class="col-6 mt-3 home_blog">
                <h5 style="font-weight: bold;">{{ blog.title }}</h5>
                <p>{{ blog.blogs }}</p>
                <div class="collapse" id="comments-{{ blog.id }}">
                    <div class="card">
                        <div class="card-body" id="comments-expanded-{{ blog.id }}"> 
                            {% for comment in blog.comments %}
                            <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p>{{ comment.comments }}:</p>
                                <small>By {{ comment.owned_user.username }}</small>
                            </div>
                            <div>
                                {% if current_user.id == comment.author or current_user.id == blog.author %}
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/delete-comment/{{ comment.id }}" class="dropdown-item">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p class="card-text">
                    {% if blog.comments|length > 0 %}
                    <a data-bs-toggle="collapse" href="#comments-{{ blog.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <small>View {{ blog.comments|length }} Comments</small>
                    </a>
                    {% else %}
                    <small class="text-muted">No comments</small>
                    {% endif %}
                </p>
                <form action="/create_comment/{{ blog.id }}" method="POST">
                    <input name="comment"  class="form-control" placeholder="Write comment..." style="background: transparent;"></input>
                    <button type="submit" class="btn4 mt-2">Post Comment</button>
                </form>
               </div>
               {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <h1>Blog</h1>
            <p>@CopyRight AllRights Reserved</p>
            <h1>2022</h1>
        </div>
    </footer>
</div>
{% endblock %}