{% extends 'base.html' %}

{% block content %}
<div class="hero_section">
    <div class="container">
        <div class="header_section">
            <h1>Blog</h1>
            <ul class="navs">
                <li><a href="{{ url_for('register')}}">SignUp</a></li>
                <li><a href="{{ url_for('login')}}">Login</a></li>
                <li><a href="{{ url_for('profile')}}">View Profile</a></li>
            </ul>
        </div>
        <div class="hero">
            <div class="row">
                <div class="col-md-5" style="margin-top: 10vh;">
                    <h1 style="font-weight: bolder;font-size: 50px;">In Our Blood there is creativity.</h1>
                    <p style="line-height: 30px;font-size: 18px;">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Saepe porro quasi nobis tempore accusamus magnam consequatur ad dignissimos atque facere?
                    </p>
                    <button class="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">Read More</button>
                </div>
                <div class="col-md-7 img1">
                    <img class="img-fluid" src="../static/Images/black.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blogs_section">
    <div class="container">
        <div class="quotes mt-3" style="background: rgb(238,240,244);">
            <h4 class="text-center">Random Quotes</h4>
            <q>{{ quote.quote}}</q><br>
            <small style="font-weight: bold;">Author: {{ quote.author }}</small>
        </div>
        <div class="blogs">
            <h1 class="mt-5 mb-5" style="font-weight: bold;">Latest Blog Posts</h1>
            <div class="row">
                {%for blog in blogs  %}
               <div class="col-5 mt-3 home_blog">
                <a href="{{ url_for('comments')}}" style="text-decoration: none;color: black;"><h5 style="font-weight: bold;">{{ blog.title }}</h5></a>
                <p>{{ blog.blogs }}</p>
               </div>
               {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <h1>Blog</h1>
            <p>@CopyRight AllRights Reserved</p>
            <h1>2022</h1>
        </div>
    </footer>
</div>
{% endblock %}