{% extends 'base.html' %}

{% block content %}
  <div class="hero_section">
      <div class="container">
        <div class="header_section">
            <h1>Blog</h1>
            <ul class="navs">
                <li><a href="#">Quotes</a></li>
                <li><a href="#">SignUp</a></li>
                <li><a href="#">Login</a></li>
            </ul>
      </div>
      <div class="hero">
          <div class="row">
              <div class="col-md-5" style="margin-top: 10vh;">
                  <h1 style="font-weight: bolder;font-size: 50px;">In Our Blood there is creativity.</h1>
                  <p style="line-height: 30px;font-size: 18px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe porro quasi nobis tempore accusamus magnam consequatur ad dignissimos atque facere?</p>
                  <button class="btn1">Read More</button>
              </div>
              <div class="col-md-7 img1">
                  <img class="img-fluid" src="../static/Images/black.png" alt="image">
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="blogs_section">
      <div class="container">
        <div class="blogs">
            <h1 class="mt-5 mb-5" style="font-weight: bold;">Latest Blog Posts</h1>
            <div class="row blogs">
                <div class="col-4 blog">
                    <div class="blog_head">
                        <img class="img-fluid" src="../static/Images/portfolio.png" alt="image">
                        <h5>Business</h5>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit dolorem placeat commodi sint doloremque.</p>
                </div>
                <div class="col-4 blog">
                    <div class="blog_head">
                        <img class="img-fluid" src="../static/Images/portfolio.png" alt="image">
                        <h5>Business</h5>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit dolorem placeat commodi sint doloremque.</p>
                </div>
                <div class="col-4 blog">
                    <div class="blog_head">
                        <img class="img-fluid" src="../static/Images/portfolio.png" alt="image">
                        <h5>Business</h5>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit dolorem placeat commodi sint doloremque.</p>
                </div>
            </div>
        </div>
      </div>
  </div>
{% endblock %}